#acerca-de-mi-content article{
    padding: 0.5em;
    width: 33%;
}
#acerca-de-mi-content h3{
    color: rgb(197, 94, 14);
    padding: 0.5em;
}

#Perfil p{    
    text-align: justify;
    padding: 0.5em 1em;
}

#Perfil img, #Cursos img, #Exp img{
    width: 40%;
    padding: 0.5em;
}

#Cursos ul{
    padding: 0.5em 1em;
    text-align: justify;
}

#Exp ol{
    padding: 0.5em 1em;
    text-align: justify;
}

@media only screen and (max-width: 875px){
    #acerca-de-mi-content p, #acerca-de-mi-content ul, #acerca-de-mi-content ol{
        font-size: 14px;
    }
}

@media only screen and (max-width: 750px){
    #acerca-de-mi-content p, #acerca-de-mi-content ul, #acerca-de-mi-content ol{
        font-size: 12px;
    }
}

@media only screen and (max-width: 650px){
    #acerca-de-mi-content article{
        width: 50%;
    }
}

@media only screen and (max-width: 506px){
    #acerca-de-mi-content article{
        width: 100%;
    }
    #acerca-de-mi-content h3{
        font-size: 14px;
    }
}