#contacto-content p{
    padding: 0.5em;
}
#contacto-content form{
    width: 100%;
    padding: 0.5em;
}
form div{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: left;
}
form div label{
    padding: 0.5em;
    width: 18%;    
}
#Nombre, #Servicio, #Correo, #Mensaje{
    padding: 0.5em;
    width: 50%;
    outline-color: rgb(197, 94, 14);
}
#Mensaje{
    height: 5em;
}
#Send{
    padding: 0.5em 0.5em 0.5em 0.8em;
    border: none;
    cursor: pointer;
    background-color: rgb(197, 94, 14);
    color: white;
}
#Send:hover{
    transition: all 0.4s linear;
    background-color: rgb(221, 108, 21);
}

@media only screen and (max-width: 875px){
    #contacto-content{
        font-size: 14px;
    }
}

@media only screen and (max-width: 750px){
    #contacto-content{
        font-size: 12px;
    }
}

@media only screen and (max-width: 650px){
    form div label{
        width: 35%;    
    }
    #Nombre, #Servicio, #Correo, #Mensaje{
        width: 65%;
    }
}

@media only screen and (max-width: 506px){
    form div label{
        padding: 0.5em 0em;
        width: 100%;    
    }
    #Nombre, #Servicio, #Correo, #Mensaje{
        width: 100%;
    }
}